<%= form_for(pledge) do |f| %>
  <% if pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
      <% pledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= "Project: "+@project.name %>
    <%= f.hidden_field :project_id, value: @project.id %>
  </div>

  <div class="field">
    <%= "Reward: "+@reward.title %>
    <%= f.hidden_field :reward_id, value: @reward.id %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
