<div class="reward">
  <p>
    <strong>Title:</strong>
    <%= reward.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= reward.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reward.description %>
  </p>

  <%=content_tag :button, "Get this" , class:"modal-btn button", data:{reward_id: reward.id, reward_title:reward.title} %>
  <%= button_to 'Pledge $'+reward.amount.to_s, new_project_reward_pledge_path(reward.project, reward), method:"get", class: "button btn-red" %>
</div>
