<h2 class="mb30 text-centered">Add a new reward</h2>
<%= form_for([@project, @project.rewards.build]) do |f| %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title", class:"input-text full-width" %>
  </div>

  <div class="field">
    <%= f.number_field :amount, step: 0.01, min: 1, required: true, placeholder: "Ammount", class:"input-text full-width" %>
  </div>

  <div class="field">
    <%= f.text_field :description, placeholder: "Description", class:"input-text full-width" %>
  </div>

  <div class="actions">
    <%= f.submit "Add Reward", class:"button btn-red full-width" %>
  </div>
<% end %>
