<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="centered">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, pattern: ".*[^ ].*" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <% if current_user%>
   <div class="field">
     <%= f.label :avatar %>
     <%= f.file_field :avatar, class:"inputfile"%>
   </div>
   <% end%>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, required: true, minlength: 6 %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <div class="actions">
    <%= f.submit action+" User", class:"button"%>
  </div>

<% end %>
