<p id="notice"><%= notice %></p>

<h2><%= @user.name+"'s Profile" %></h2>
<%= link_to 'My projects', edit_user_path(@user) %> | <%= link_to 'Edit profile', edit_user_path(@user) %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3>My projects:</h3>
<ul>
  <% @user.projects.each do |project| %>
    <li><%= link_to project.name, edit_project_path(project) %></li>
  <% end %>
</ul>

<h3>I'm following:</h3>
<ul>
  <% @user.following.each do |following| %>
    <li><%= link_to following.name, following %></li>
  <% end %>
</ul>


<%= link_to 'Back', users_path %>
