<div id="profile">
  <%= image_tag @user.avatar.url%>
  <h2><%= @user.name %></h2>
  <p><%= @user.email %></p>
  <%= following_button(@user) %>
  <%unless current_user.nil?%>
    <%if current_user.id == params[:id].to_i%>
      <%= link_to 'Edit profile', edit_user_path(@user), class:"button btn-blue" %>
    <%end%>
  <%end%>
</div>

<div>
  <div class="box">
    <h3>My projects:</h3>
    <ul>
      <% @user.projects.each do |project| %>
        <li><%= link_to project.name, (logged_in? and (project.user_id==current_user.id)) ? edit_project_path(project) : project_path(project)%></li>
      <% end %>
    </ul>
  </div>

  <div class="box">
    <h3>I'm following:</h3>
    <ul>
      <% @user.following.each do |following| %>
        <li><%= link_to following.name, following %></li>
      <% end %>
    </ul>
  </div>

  <div class="box">
    <h3>My followers:</h3>
    <ul>
      <% @user.followers.each do |follower| %>
        <li><%= link_to follower.name, follower %></li>
      <% end %>
    </ul>
  </div>
</div>
