<%= link_to project_path(project) do %>
  <%= image_tag "project_placeholder.png"%>
<% end %>
<div>
  <p class ="title"><%= project.name+"by " %><p>
  <p><%= project.description %></p>
  <%= link_to "See more", project_path(project), class: "button" %>
</div>
