<div class="standard-form">
  <h1>Editing Project</h1>

  <%= render 'form', project: @project, action:"Update" %>

  <%= link_to 'Add rewards', project_rewards_path(@project) %> |
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>
</div>
