
<div class="box">
  <p id="notice"><%= notice %></p>

  <h1><%= @project.name %></h1>
  <%= link_to "by "+@project.user.name, @project.user %>

  <p>
    <strong>Creator:</strong>
    <%= @project.user.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @project.start %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @project.end %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @project.category.name %>
  </p>
</div>

<div class="pledges">
  <h3>Pledges</h3>
    <%= render @project.rewards %>
</div>

<div class="comments">
  <h3>Comment</h3>
    <%= render @project.comments %>
  <h3>Add comment</h3>
  <%= link_to 'New comment', new_comment_path %>

</div>



<%= link_to 'Back', projects_path %>
