<div class="project-show">
  <%= image_tag "project-ph2.png"%>
  <div >
    <p class="title"><%= @project.name %></p>
    <%= link_to "by "+@project.user.name, @project.user %>
    <p> <strong>Creator:</strong> <%= @project.user.name %> </p>
    <p> <strong>Description:</strong> <%= @project.description %> </p>
    <p> <strong>Goal:</strong> <%= @project.goal%></p>
    <div id="bar">
      <%= content_tag :div, id:"fill", data:{rate:(@current_amount/@project.goal)} do %>
      <%end%>
    </div>
    <p> <strong>End date:</strong> <%= @project.end %> </p>
    <p> <strong>Category:</strong> <%= @project.category.name %></p>
  </div>
</div>

<div>
  <div class="project-content">
    <div class="comments">
      <h2>Comments</h2>
      <div id="comments-list">
        <%= render @project.comments %>
      </div>
        <% if !current_user.nil? %>
          <%= form_for([@project, Comment.new], remote:true) do |f| %>
            <p>
              <%= f.text_area :content, rows: 5, cols: 60 %>
            </p>
            <p>
              <%= f.submit "Send  "%>
            </p>
          <% end %>
        <%end%>
    </div>
  </div>
  <div class="pledges">
    <h2>Pledges</h2>
      <% @project.rewards.each do |reward| %>
        <%= render 'pledges/pledge', reward: reward %>
      <% end %>
  </div>
</div>
