<!DOCTYPE html>
<html>
  <head>
    <title>FundUp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav id="main-menu">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Users', users_path %>
        <%= link_to 'Projects', projects_path %>
        <%= link_to 'Rewards', new_reward_path %>
        <%= link_to 'Pledges', pledges_path %>
        <%= link_to 'Comments', comments_path %>
      </nav>

      <div id="user-bar">
        <%= link_to 'Sign Up', new_user_path %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
